<% provide(:title,'About Us') %>
<!DOCTYPE html>
<h1>About Us</h1>
  <p>
    Parth is Electronics and communication Engineer by education and Software Developer by profession. He is currently working for Ruby on Rails development. Further He is a free lancer for many sites.Find him in
    <a class="social-icons-gplus" target="_blank" href="https://plus.google.com/u/0/103631939310981313770">Google+</a>
  </p>
