<% provide(:title, 'Contact') %>
<!DOCTYPE html>

    <h1>Contact Us</h1>
    <p>
      Contact Ruby on Rails Tutorial about the sample app at the
      <a href="#">Contact page</a>
      
    </p>